/_ReSharper.Schema
/Schema.5.1.ReSharper.user
/Schema.Core/bin
/Schema.Core/obj
/Schema.DataAccess/bin
/Schema.DataAccess/obj
/Schema.DataAccess.txt
/Shema.CLI/bin
/Shema.CLI/obj
/Schema.DataAccess/obj
/Schema.DataAccess/bin
/Schema.Core/obj

/Schema.Core/obj
/Shema.CLI/obj
/Schema.UI/obj
/Schema.UI/bin
/Aga.Controls/bin
/Aga.Controls/obj