<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="MsSqlConnectionString"
     providerName="System.Data.SqlClient"
     connectionString=
     "Data Source=(local);Initial Catalog=Parking;Integrated Security=true" />

    <add name="MySqlConnectionString"
     providerName="MySql.Data.MySqlClient"
     connectionString="Server=localhost;Port=3306;Database=" + this.DbName + ";User=root;"/>
  </connectionStrings>
</configuration>